<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.quiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChemistryQuiz"
            android:label="@string/chemistry"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.quiz.MainActivity"/>
        </activity>
        <activity android:name=".BiologyQuiz"
            android:label="@string/biology"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.quiz.MainActivity"/>
        </activity>
        <activity android:name=".CSQuiz"
            android:label="@string/cs"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.quiz.MainActivity"/>
        </activity>
        <activity android:name=".HistoryQuiz"
            android:label="@string/history"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.quiz.MainActivity"/>
        </activity>
        <activity android:name=".FeedbackQuiz"
            android:label="@string/feedback"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.quiz.MainActivity"/>
        </activity>
    </application>

</manifest>